<?xml version="1.0"?>
<ruleset name="invajo">
    <!-- display progress -->
    <arg value="p"/>
    <arg name="colors"/>

    <!-- Paths to check -->
    <file>Plugin.php</file>

    <!-- Include full Doctrine Coding Standard -->
    <rule ref="Doctrine">
        <!-- inapplicable for this project -->
        <exclude name="PSR1.Classes.ClassDeclaration.MultipleClasses" />
        <exclude name="PSR2.Classes.PropertyDeclaration.Underscore" />
        <exclude name="quiz.Classes.ClassFileName.NoMatch" />
        <exclude name="Squiz.Commenting.FunctionComment.InvalidNoReturn" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming.SuperfluousSuffix" />
        <exclude name="SlevomatCodingStandard.TypeHints.DeclareStrictTypes.DeclareStrictTypesMissing" />
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingNativeTypeHint" />
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingTraversableTypeHintSpecification" />
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingAnyTypeHint" />
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingNativeTypeHint" />
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingTraversableTypeHintSpecification" />
        <exclude name="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingNativeTypeHint" />
        <exclude name="Squiz.NamingConventions.ValidVariableName.PublicHasUnderscore" />
        <exclude name="Squiz.Classes.ClassFileName.NoMatch" />

        <!-- conflicts with other rules -->
        <exclude name="SlevomatCodingStandard.Namespaces.NamespaceSpacing" /> <!-- PSR12.Files.FileHeader -->
        <exclude name="SlevomatCodingStandard.TypeHints.ReturnTypeHintSpacing" /> <!-- PSR12.Functions.ReturnTypeDeclaration -->
    </rule>
    
    <!-- inherit rules from: -->
    <rule ref="PSR12"/>

    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Generic.Files.ByteOrderMark"/>
    <rule ref="Generic.Files.LineEndings"/>
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="absoluteLineLimit" value="120"/><!-- even though psr-2 specifies it as soft-limit only -->
        </properties>
    </rule>
    <rule ref="Generic.PHP.DeprecatedFunctions"/>
    <rule ref="Generic.PHP.ForbiddenFunctions"/>

    <rule ref="Squiz.WhiteSpace.SuperfluousWhitespace">
        <properties>
            <property name="ignoreBlankLines" value="false"/>
        </properties>
    </rule>
</ruleset>
