<?xml version="1.0"?>
<ruleset name="invajo">
    <!-- display progress -->
    <arg value="p"/>
    <arg name="colors"/>

    <!-- Paths to check -->
    <file>Plugin.php</file>
    <file>tests</file>


    <!-- inherit rules from: -->
    <rule ref="PSR12"/>

    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Generic.Files.ByteOrderMark"/>
    <rule ref="Generic.Files.LineEndings"/>
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="absoluteLineLimit" value="120"/><!-- even though psr-2 specifies it as soft-limit only -->
        </properties>
    </rule>
    <rule ref="Generic.PHP.DeprecatedFunctions"/>
    <rule ref="Generic.PHP.ForbiddenFunctions"/>

    <rule ref="Squiz.WhiteSpace.SuperfluousWhitespace">
        <properties>
            <property name="ignoreBlankLines" value="false"/>
        </properties>
    </rule>
</ruleset>
