<?xml version="1.0"?>
<psalm
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    errorLevel="1"
>
    <projectFiles>
        <directory name="." />
        <ignoreFiles>
            <directory name="vendor" />
            <directory name="stubs" />
            <directory name="tests/_support/_generated" />
            <directory name="tests/_run" />
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <pluginClass class="Weirdan\DoctrinePsalmPlugin\Plugin"/>
    </plugins>
    <issueHandlers>
        <DeprecatedClass>
            <errorLevel type="suppress">
                <referencedClass name="PackageVersions\Versions"/>
            </errorLevel>
        </DeprecatedClass>
    </issueHandlers>
</psalm>
